<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p>Your current balance is: {{ balance }}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.recipient.label }}<br>
            {{ form.recipient(size=32) }}<br>
            {% for error in form.recipient.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        {% if not current_user.tf_primary_method %}
            <p>
                <a href="{{ url_for('security.two_factor_setup ') }}">Setup 2FA <b>(Cannot Be Disabled once enabled)</b></a>
            </p>
        {% else %}
            <p>
                <a href="{{ url_for('security.tf_select') }}">Select preffered 2fa method</a>
            </p>
        {% endif %}
    <form action="{{ url_for('security.logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>